---
name: Check for linting github action

# yamllint disable-line rule:truthy
on:
  push:
    paths:
      - ".github/**.yml"
      - ".github/**.yaml"
permissions: read-all
jobs:
  lint-shell-script:
    name: run github action linter
    runs-on: ubuntu-latest
    if: (!startsWith(github.event.pull_request.head.ref, 'dependabot/') && !startsWith(github.event.pull_request.head.ref, 'renovate/') && github.event.head_commit.author.username != 'renovate-bot')
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
      - name: Display Go version
        run: go version
      - name: install actionlint
        run: go install github.com/rhysd/actionlint/cmd/actionlint@latest
      - name: run actionlint
        run: actionlint
